*,
*:before *:after {
  box-sizing: border-box;
}

html {
  font-size: 25px;
}

body {
  background-color: rgba(170, 146, 119, 0.3);
  padding: 150px;
  display: grid;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  color: rgb(7, 115, 238);
}

header {
  color: rgb(21, 5, 243);
  text-shadow: 2px 3px 0px rgba(0, 0, 0, 3);
  margin-top: 0;
}

#textInput {
  border-color: rgb(45, 146, 241);
  margin-top: 20px;
  padding: 5px;
}

.btnField {
  margin: 5px;
}

#addButton {
  cursor: pointer;
}

#buttonClear {
  cursor: pointer;
}

#filters {
  color: rgb(17, 187, 230);
}
